{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-sync": 0,
    "no-console": 0,
    "no-process-exit": 0,
    "react/prop-types": 0,
    "no-process-env": 0,
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-var-requires": "off"
  }
}
